@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
html {
  background-color: rgba(218, 172, 255, 0.253);
  height: 100vh;
}

.Ornement {
  width: 100px;
}
.GlobalOrnementBas {
  width: 90px;
  rotate: 180deg;
  float: right;
}

.BigGlobal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Global {
  background-color: rgba(255, 255, 255, 0.322);
  padding: 25px;
  border-radius: 15px;
  margin-top: -75px;
}

.All {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 100px;
  margin: 0px 25px;
  width: 200px;
}

.inputChooseDice {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;

  background-color: black;
  color: rgb(255, 255, 255);
  padding: 2px;
  border: 2px solid rgb(146, 0, 146);
  border-radius: 7px;
  text-align: center;
  z-index: 10;
  &:hover {
    background-color: rgba(0, 0, 0, 0.342);
  }
}

.DiceComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.separation {
  height: 300px;
}
.criticPourcent {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #73017e;
  margin-top: 15px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.LastThrowp {
  margin-top: 15px;
}
.Notep {
  margin-top: 15px;
}

.DiceIMG {
  display: block;
  margin-left: -300px;
  padding: 50px;
  .Critic {
    position: absolute;
    width: 250px;
    rotate: -20deg;
    margin-left: -75px;
    margin-top: -50px;
  }
  .Result {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    margin-top: 11px;
    width: 300px;
    color: rgb(146, 0, 146);
  }
  img {
    position: absolute;
    width: 300px;
  }
}

.ActivCritic {
  display: flex;
  input {
    margin-top: -7px;
    width: 15px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
}

.ThrowButton {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 2px 10px;
  border: 2px solid rgb(146, 0, 146);
  border-radius: 7px;
  text-align: center;
  font-size: 17px;
  z-index: 10;
  &:hover {
    background-color: rgba(0, 0, 0, 0.342);
  }
}

.diceAnimStart1 {
  animation: rotating1 2s;
}
.diceAnimStart2 {
  animation: rotating2 2s;
}

@keyframes rotating1 {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(2160deg);
    -moz-transform: rotate(2160deg);
    -webkit-transform: rotate(2160deg);
    -o-transform: rotate(2160deg);
    transform: rotate(2160deg);
  }
}

@keyframes rotating2 {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(2160deg);
    -moz-transform: rotateY(2160deg);
    -webkit-transform: rotateY(2160deg);
    -o-transform: rotateY(2160deg);
    transform: rotateY(2160deg);
  }
}

.DiceContainer {
  display: flex;
  justify-content: center;
}
.Result {
  position: relative;
}
.GlobalHelp {
  margin-top: 15px;
}
.GlobalHelpImg {
  width: 10px;
}

.GlobalBack {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.322);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 100px;
  width: 200px;
  border-radius: 15px;
  p {
    margin-top: 15px;
  }
}
.BuyMeCoffe {
  margin-top: 25px;
  width: 400px;
}

@media (max-width: 500px) {
  .Ornement {
    width: 15vw;
  }
  .GlobalOrnementBas {
    display: none;
  }

  .BigGlobal {
    width: auto;
  }
  .Global {
    width: auto;
    padding: 50px;
  }

  .All {
    width: auto;
    padding: 0px;
    margin: 0px;
    width: 200px;
  }

  .GlobalBack {
    padding: 5px;
    width: auto;
  }
  .BuyMeCoffe {
    margin-top: 25px;
    width: 150px;
  }
}
